.searchBar{

    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.searchInput{
    width: 300px;
    padding: 10px;
    border: 1px solid #f1f7ff79;
    border-radius: 4px;
    font-size: 15px;
}

.searchButton{
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: -35px;
}